# Ignore virtual environments
myenv/
quote_venv/
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
*.cache/
*.pytest_cache/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Environment variables and secrets
.env
*.env
*.venv
